@use "globals" as default;

$color_primary: #29292b;
$color_secondary: #1f2021;
$color_tertiary: #444447;

$color_box-shadow: #1C1C1C;

$text-color: #DEDEDE;

body.dark {
    color: #DEDEDE;

    background-color: $color_primary;

    .main-error h1, .main-loading h1, #search_input, #search_input::placeholder {
        color: #DEDEDE;
        caret-color: #DEDEDE;
    }

    .navbar-container {
        background-color: $color_secondary;

        border-bottom: 2px solid default.$color_accent;
    }
    .nav-panel-toggle-container svg {
        fill: #ECECEC;

        &:hover {
            fill: #DDD;
        }
    }
    #search_input {
        background-color: #29292b;

        border-color: $color_tertiary;
    }

    .row .divider {
        background-color: $color_tertiary;
        height: 0.1rem;
    }

    .stream-layout {
        background-color: $color_primary;

        box-shadow: 0px 0px 1rem 0.5rem $color_box-shadow;

        border-width: 2px;

        &:hover {
            box-shadow: -0.2rem 0.2rem 1rem 0.5rem #1F1F1F;
        }
    }
    #channel_icon {
        box-shadow: none;
    }
    .stream-title {
        color: inherit;
    }
    .streamer-name {
        color: #CCC;
    }
    
    .side-navbar {
        background-color: $color_primary;
    }
}