// Colors
$color_primary: #cacaca;
$color_secondary: #ddd;
$color_tertiary: #3f3f3f;
$color_box-shadow: #dfdfdf;
$color_accent: #40ffb9;

// Default properties
$main_background_color: #fff;
$box-shadow-default: 0px 0px 1rem 0.5rem $color_box-shadow;

// Individual Colors
// -> Navbar
$navbar_background_color: #fff;
$navbar_border_color: $color_primary;

// -> Navbar -> Side Panel Icon
$nav-panel_svg_color: $color_tertiary;
$nav-panel_svg_hover_color: #555;

// -> Navbar -> Search Input
$search_input_bg_color: #eee;
$search_input_border_color: $color_primary;
$search_input_border_focus_color: $color_accent;
$search_input_color: $color_tertiary;

// -> Stream Divider
$stream_divider_color: $color_primary;

// -> Stream Card
$stream_card_bg_color: $main_background_color;
