@media only screen and (max-width: 800px) {
    .stream-container .streams {
        grid-template-columns: auto;

        .stream-layout {
            margin: 1rem 0;
        }
    }
    .stream-container {
        margin: 4rem 5vw;
    }
    .navbar-container {
        grid-template-columns: max-content auto;

        padding: 0 5vw;
    }
    .search-input-container {
        width: 100%;
    }
    .side-navbar {
        width: 82vw;
    }
    .side-navbar-overlay {
        padding-left: 82vw;
    }
    // This makes sure the search bar is the largest, and the only element (except for the sidebar toggle)
    // To be shown
    .navbar-container .divider, .navbar-container .theme-toggle {
        display: none;
    }
    .main-loading {
        margin-top: 50%;

        .kaomoji {
            font-size: 14vw;
        }
        h1 {
            font-size: 8vw;
        }
    }
    .channel-icon-container {
        width: 3.2rem;
        line-height: normal; // NOTE: I think this property should be global (not mobile only)
    }
}