@media only screen and (max-width: 800px) {
    .stream-container .streams {
        grid-template-columns: auto;

        .stream-layout {
            margin: 1rem auto;
        }
    }
    .search-input-container {
        width: 58vw;
    }
    .side-navbar {
        width: 82vw;
    }
    .side-navbar-overlay {
        padding-left: 82vw;
    }
    .main-loading {
        margin-top: 50%;

        .kaomoji {
            font-size: 14vw;
        }
        h1 {
            font-size: 8vw;
        }
    }
}