@import "globals";

.side-navbar {
    width: 20rem;
    height: 100vh;

    position: fixed;

    left: 0;
    top: 0;
    transform: translateX(-20rem);

    z-index: 10;

    background-color: #2C2C2C;
}

.side-navbar .main-container .dropdown-container {
    .button {
        width: 100%;
        height: 3.2rem;
        line-height: 3.4rem;
        box-sizing: border-box;

        padding: 0 0.5rem;

        background-color: #fff;
        font-size: 1.4rem;

        user-select: none;

        color: #2C2C2C;

        &:hover {
            cursor: pointer;
        }
    }

    .content {
        overflow-y: hidden;

        box-sizing: border-box;
        padding-left: 0.5rem;
    }
}

.side-navbar .gen-select .content {
    color: #fff;

    user-select: none;

    box-sizing: border-box;
    border-bottom: 0.6rem solid #fff;

    #gen_select_option {
        height: fit-content;

        margin: 0.5rem 0;

        font-size: 1.2rem;

        .gen-checkbox {
            float: right;
            margin-right: 0.5rem;
        }
    }
}

.side-navbar-overlay {
    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
    padding-left: 20rem;

    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;

    .exit-button-container {
        width: 3.4rem;
        height: 3.4rem;

        fill: #fff;

        svg {
            max-height: 100%;

            margin: 0;

            fill: #fff;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
