@import "globals";

.stream-container {
    margin: 4rem 2rem;
    margin-bottom: 4rem;
}

.stream-container, .main-container {
    display: grid;

    grid-template-columns: auto;

    row-gap: 2rem;
}

.main-container > .row {
    display: flex;
    flex-direction: column;
}

.control-bar {
    height: 3rem;

    box-sizing: border-box;

    border-radius: 3rem;
    border: 2px solid $color_tertiary;
    padding: 0 2rem;

    background-color: #FFF;

    // Grid layout
    display: grid;
    
    grid-template-columns: auto repeat(2, max-content);
    grid-template-rows: 100%;

    column-gap: 2rem;
}

.stream-container .streams {
    display: grid;

    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 2rem;
}

@media only screen and (min-width: 1920px) {
    .stream-container .streams {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.time-section-container {
    width: 100%;

    .divider {
        width: 100%;
        height: 0.2rem;

        margin-top: 0.2rem;

        background-color: $stream_divider_color;
    }
}
