.stream-container {
    max-height: 100%;

    display: grid;
    box-sizing: border-box;
    padding: 0 3.2rem;
    padding-top: 4rem;
    padding-bottom: 0.2rem;

    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    column-gap: 2rem;
    row-gap: 2rem;

    overflow-y: scroll;
}

@media only screen and (min-device-width: 1920px) {
    .stream-container {
        grid-template-columns: repeat(4, minmax(20rem, 1fr)) !important;
    }
}