<div class="stream-layout">
    <div class="thumbnail-container">
        <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="" alt="Stream Thumbnail" id="stream_thumbnail" />
        </a>
    </div>
    <div class="meta-container">
        <div class="channel-icon-container">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="" alt="Channel Icon" id="channel_icon" />
            </a>
        </div>
        <div class="stream-info-container">
            <div class="stream-title-container">
                <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="stream-title"
                ></a>
            </div>
            <div class="streamers">
                <div class="streamer-name-container">
                    <a
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="streamer-name"
                    ></a>
                </div>
                <hr class="hidden">
                <!-- Collab-only -->
                <div class="streamer-icons-container hidden">
                    <div class="streamer-icon">
                        <a
                            href="#"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="streamer-icon-link"
                        >
                            <img src="" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
