<div class="stream">
    <div class="thumbnail">
        <a 
            href="#"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="" alt="Video Thumbnail">
        </a>
    </div>
    <div class="stream-info">
        <div class="title">
            <a 
                href="#"
                target="_blank"
                rel="noopener noreferrer"
            >
                <!-- Title -->
            </a>
        </div>
        <div class="streamer">
            <a 
                href="#"
                target="_blank"
                rel="noopener noreferrer"
            >
                <!-- Member name -->
            </a>
        </div>
    </div>
    <div class="stream-time">
        <div class="start-time">
            <!-- Starting time -->
        </div>
    </div>
</div>